image: zephyrprojectrtos/zephyr-build:v0.26.13

build:
  stage: build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  before_script:
    - rm -rf ../.west
    - west init -l .
    - west update
    - west zephyr-export
    - pip3 install -r ../zephyr/scripts/requirements-base.txt
  script:
    - source ../zephyr/zephyr-env.sh
    - west build -b beagleconnect_freedom samples/subsys/greybus/net/ -p -- -DEXTRA_CONF_FILE=overlay-802154-subg.conf
  artifacts:
    paths:
      - build/zephyr/zephyr.bin
